.con div[class*="col"] {
    height: 50px;
    border: 1px solid white;
    padding: 10px 10px;
}

.row > [class*="col"] > [class*="col"]{
    height: 30px;
    border: 1px solid white;
}

.con{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.white {
    color: white;
}
.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


